@charset "UTF-8";

/*
* === CSS Hub for ReactJS projects ===
*/

* {
  margin: 0;
  padding: 0;
}

html,
body,
div#root,
div#master-container {
  height: 100%;
}

body {
  /*background-image: url(../images/blue-pattern-background_01.jpg);
  background-image: url(../images/blue-pattern-background_02.jpg);
  background-image: url(../images/blue-pattern-background_03.jpg);
  background-image: url(../images/waterfall-background.jpg);
  background-image: url(../images/leafwater-background.jpg);
  background-image: url(../images/matchstrike-background.jpg);
  background-image: url(../images/townscape_pattern_background.jpg);*/
  background: #555555 url(/images/treehorizon-background.jpg?742b9d094bd0243ad65c26e61ad7b9d7) no-repeat fixed center center;
  background-size: cover;
  color: whitesmoke;
}

/*
* — Master Component —
*/

#master-container {
  margin: 0;
}

#master-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#master-body {
  margin: 0px 75px;
  padding: 70px 15px;
  min-height: 100%;
  overflow: auto;
  background: transparent url(/images/trans_bdrop_02.png?a3f0a64421f2906151088aa9a350520b);
  border: solid thin ghostwhite;
}

#master-content {
  padding: 15px;
  border: solid thin cadetblue;
}

#master-footer {
  height: 53px;
  width: 100%;
  margin-top: -53px;
  padding: 15px 2px 0px 2px;
  clear: both;
  background-color: #222222;
  text-align: center;
  border: solid thin black;
  border-radius: 4px;
}

/*
* — Footer Component —
*/

#app-footer > footer > p {
  color: whitesmoke;
}

/*
* — Projects 1 & 2 —
* -->CountClock
* -->StopWatch
*/

/*
.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title {
  font-size: 50px;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds,
.Clock-milliseconds {
  display: inline;
  margin: 10px;
}

.Deadline-input {
  font-size: 25px;
  margin: 5px;
}

.Timer-btn {
  display: inline;
  margin: 15px;
}
*/

/*
* — Projects 4 —
* -->ReminderPro
*/

.ReminderPro {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-align: center;
  font-size: 26px;
}

input {
  margin: 5px;
}

.reminder-form {
  padding: 5px;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}

