/*
* === CSS Hub for ReactJS projects ===
*/

* {
  margin: 0;
  padding: 0;
}

html, body, div#root, div#master-container {
  height: 100%;
}

body {
  background-color: #555555;
  background-image: url(../images/blue-pattern-background_01.jpg);
  background-size: cover;
}

/*
* — Master Component —
*/

#master-container {
  margin: 0;
}

#master-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#master-body {
  margin: 0px 75px;
  padding: 70px 15px;
  min-height: 100%;
  overflow: auto;
  background-color: white;
  border: solid medium cadetblue;
}

#master-content {
  padding: 15px;
  border: solid thin cadetblue;
}

#master-footer {
  height: 53px;
  width: 100%;
  margin-top: -53px;
  padding: 15px 2px 0px 2px;
  clear: both;
  background-color: #222222;
  text-align: center;
  border: solid thin black;
  border-radius: 4px;
}

/*
* — Footer Component —
*/

#app-footer > footer > p {
  color: whitesmoke;
}


/*
* — Projects 1 & 2 —
* -->CountClock
* -->StopWatch
*/

/*
.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title {
  font-size: 50px;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds,
.Clock-milliseconds {
  display: inline;
  margin: 10px;
}

.Deadline-input {
  font-size: 25px;
  margin: 5px;
}

.Timer-btn {
  display: inline;
  margin: 15px;
}



/*
* — Projects 3 —
* -->MusicMaster
*/
/*
body {
  background: #000;
  color: #fff;
}

.App {
  text-align: center;
  padding: 5%;
}

.App-title {
  font-size: 26px;
}

/*Profile*/
/*
.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
  object-fit: cover;
}

.profile-name {
  font-size: 26px;
}

.profile-followers, .profile-genres {
  font-size: 18px;
}
*/
/*Gallery*/
/*
.track {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text {
  background-color: black;
  color: white;
  opacity: 0.75;
  width: 214px;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.track-play {
  position: absolute;
  width: 220px;
  height: 220px;
}

.track-play-inner {
  position: absolute;
  text-align: center;
  font-size: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 80px;
  margin-top: 80px;
  opacity: 0;
}

.track-play-inner:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
*/


/*
* — Projects 4 —
* -->ReminderPro
*/

.ReminderPro {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 26px;
}

input {
  margin: 5px;
}

.reminder-form {
  padding: 5px;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}
