/*
* — Projects Home —
* -->Project Home Page
*/

.home-container {
  padding: 15px;
  font-family:
   dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
}

.home-container > h1,
.home-container > h2,
.home-container > h3 {
   text-transform: uppercase;
   letter-spacing: 0.1em;
   font-weight: 700;
   color: maroon;
   font-style: italic;
}

.home-container > p {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.home-projectlist > ul > li > a,
.home-projectlist > ul > li > a:visited
 {
  margin-left: 25px;
  color: white;
}

.home-projectlist > ul > li > a:hover
 {
  margin-left: 35px;
  color: yellow;
}
