/*
* — Projects 1.B —
* -->StopWatch
*/

.stopwatch-container {
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.stopwatch-title {
    font-size: 50px;
}

.stopwatch-deadline-input {
    font-size: 25px;
    margin: 5px;
}

.stopwatch-btn,
.timer-btn {
    display: inline;
    margin: 15px;
}

.timer-days,
.timer-hours,
.timer-minutes,
.timer-seconds,
.timer-milliseconds {
    display: inline;
    margin: 10px;
}
